/tests/test-eapi/test-eapi
/quafe/quafe-etk
/data/quafe-etk.run
/data/quafe-etk.cfg
/data/quafe-etk
/data/images/not_used
/tests/test_eapi/eapi
sens_data.h
.git
*~
*CMakeFiles*
Makefile
*.a
*.so
install_manifest.txt
CMakeCache.txt
cmake_install.cmake
