# cmake left overs
.git
*~
*CMakeFiles*
Makefile
install_manifest.txt
CMakeCache.txt
cmake_install.cmake
doxyfile
quafe-etk.h
*-config.h

# binaries
gui-test
quafe-etk
cli-test
*.a
*.so

# sensitive data
sensitive_data.h
/data/quafe-etk.cfg
/tests/test-eapi/data

# misc
/data/images/not_used
/docs/api
.metadata
.settings
